<%= link_to("<<Back to List",{:action => 'index'}, :class => 'back-link')%>

<div class="Sections Edit">
	<h3>Update section Details</h3>

<%= form_for(:section,:url =>{:action => 'update', :id => @section.id})  do |f| %>
<%= render(:partial => "form", :locals => {:f => f}) %>

<div class="form-buttons">
<table>
<tr>
	<td><%= button_tag "Reset", type: :reset %></td>
	<td><%= submit_tag("Update Section") %></td>
</tr>
</table>
</div>
<% end %>
</div>
<%=  %>
<%=  %>
<%=  %>
<%=  %>