<%= link_to("<<Back to List",{:action => 'index'}, :class => 'back-link')%>

<div class="Sections Edit">
	<h2>Update section Details</h2>

<%= form_for(:section,:url =>{:action => 'create'})  do |f| %>
<%= render(:partial => "form", :locals => {:f => f}) %>

<div class="form-buttons center">
	<%= button_tag "Reset", type: :reset %>
	<%= submit_tag("Create Section") %>
</div>
<% end %>
</div>