<table summary="page form fields">
<tr> 
	<th><%= f.label(:name,"Name") %></th>
	<td><%= f.text_field(:name, placeholder: 'Enter Name') %></td>
</tr>
<tr> 
	<th><%= f.label(:subject_id,"Subject ID") %></th>
	<td><%= f.text_field(:subject_id, placeholder: 'Enter Subject ID') %></td>
</tr>
<tr>
	<th><%= f.label(:position) %></th>
	<td><%= f.text_field(:position, placeholder: 'Enter Position') %></td>
</tr>
<tr>
	<th><%= f.label(:permalink) %></th>
	<td><%= f.text_field(:permalink, placeholder: 'Enter Permalink') %></td>
</tr>
<tr>
	<th><%= f.label(:visible) %></th>
	<td><%= f.check_box(:visible) %></td>
</tr>
</table>