<% @page_title = "Update Pages" %>
<%= link_to("<<Back to List",{:action => 'index',:subject_id => @subject.id}, :class => 'back-link')%>

<div class="pages edit">
	<h2>Update page Details</h2>

<%= form_for(:page,:url =>{:action => 'update', :id => @page.id,:subject_id => @subject.id})  do |f| %>
<%= render(:partial => "form", :locals => {:f => f}) %>

<div class="form-buttons">
<table>
<tr>
	<td><%= button_tag "Reset", type: :reset %></td>
	<td><%= submit_tag("Update page") %></td>
</tr>
</table>
</div>
<% end %>
</div>