<% @page_title = "New Subject"%>
<%= link_to("<<Back to List",{:action => 'index'}, :class => 'back-link')%>

<div class="subjects new">
	<h3>Enter new Subject Details</h3>


<%= form_for(:subject,:url =>{:action => 'create'})  do |f| %>
<%= render(:partial => "form", :locals => {:f => f}) %>

<div class="form-buttons">
<table>
<tr>
	<td><%= button_tag "Reset", type: :reset %></td>
	<td><%= submit_tag("Create Subject") %></td>
</tr>
</table>
</div>
<% end %>
</div>
<%=  %>
<%=  %>
<%=  %>
<%=  %>