<% @page_title = "Update Admin" %>
<%= link_to("<<Back to List",{:action => 'index'}, :class => 'back-link')%>
<br>
<%= link_to("<<Back to Main Menu",{:controller => 'access', :action => 'index'}, :class => 'back-link')%>

<div class="admin_users edit">
	<h2>Update Admin Users Details</h2>

<%= form_for(:admin_user,:url =>{:action => 'update', :id => @admin_user.id})  do |f| %>
<%= render(:partial => "form", :locals => {:f => f}) %>

<div class="form-buttons">
<table>
<tr>
	<td><%= button_tag "Reset", type: :reset %></td>
	<td><%= submit_tag("Update Admin Users") %></td>
</tr>
</table>
</div>
<% end %>
</div>